html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
section#content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
section#Photos {
    background-color: #d9d9d9;
    width: 338px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    overflow: scroll;
}
section#Photos .photo {
    background-color: #343a40;
    width: 290px;
    height: 277px;
}
section#Photos .photo img {
    width: 290px;
    height: 277px;
}
section#Camera {
    background-color: #343a40;
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
}
section#Camera .video-container {
    width: 550px;
    height: 550px;
    position: relative;
}
#countdown-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-weight: bolder;
    font-size: 200px;
}
section#Camera .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
section#Camera .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#Camera .camera-button, section#Camera .timer-button {
    width: 70px;
    height: 60px;
    border-radius: 40px;
    cursor: pointer;
}
section#Camera select.timer-button {
    background-image: url('../img/timer.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: end;
    font-weight: bolder;
    font-size: 20px;
    width: 100px;
    padding-inline: 5px;
    font-family:fantasy;

}
section#Camera select.timer-button option {
    display: flex;
    flex-direction: row;

}
.none {
    display: none;
}
