html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212529;
}
section.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 103px;
    cursor: click;
}
.container {
    width: 641px;
    height: 113px;
    border: 9px solid #adb5bd;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .container input {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 30px;
    width: 60%;
    height: 70%;
}
form .container input::placeholder {
    color: white;
    font-size: 30px;
}
form .container input:focus {
    outline: none;
    border: none;
    background-color: inherit;
}
form .container button {
    width: 30%;
    height: 80%;
    background-color: #e9ecef;
    border: none;
    border-radius: 40px;
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 20px;
}
.templates {
    display: flex;
    align-items: center;
    gap: 100px;
    mask-image: url("../img/3d.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    height: 570px;
    width: 797px;
    overflow: hidden;
}
.templates .template {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-left: 435px;
    transition: transform 0.5s;
}
.template a img {
    width: 200px;
    height: 520px;
}
.highlight {
    width: 210px !important;
    height: 550px !important;
    transition: width 0.5s, height 0.5s;
}
